* {
    margin: 0;
    padding: 0;
    
}
header {    
    background-color: #035035;
    color: white;    
    padding: 20px;    
    text-align: center;    
    border: 5px solid black;
}

body{
    background-color: rgb(127, 127, 231);

}
.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
    width: 300px;
    border: 5px solid green;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    width: 200px;
    
 

}
.botao {
  margin-left: 20px;
  margin-top: 50px; 
  margin-bottom: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: #042858; 
  color: white;
  padding: 5px 20px;      
  border-radius: 30px;      
  cursor: pointer;    
    
}
